/* GLOBAL STYLES */

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    background-color: #fff;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}

/* CONTAINER */

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
}

/* MAIN-CONTENT */

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}



/* GLOBAL-WRAPPER */
.global-wrapper {
    flex-grow: 1;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 24px;
    background-image: url("../img/main-font.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    
}

.hero-content {
    max-width: 285px;
}

.hero-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: "Bebas Neue", "Roboto Condensed", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    color: #fff;
}

.hero-link {
    display: inline-block;
    font-family: "Bebas Neue", "Roboto Condensed", "Arial", sans-serif;;
    background-color: #1E90FF;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero-link:hover {
    background-color: rgba(30, 144, 255, 0.80);
}

.hero-link:active {
    background-color: rgba(30, 144, 255, 0.60);
}

.hero-link-inner {
    display: flex;
    padding: 12px 24px;
}

.hero-link-inner::before {
    width: 20px;
    height: 20px;
    margin-right: 12px;
    background-image: url("../img/top.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    content: "";
}


/* RETINA-BG */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .hero {
        background-image: url("../img/main-font.jpg");
    }

}

